* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 25px !important;
  color: orange
}
h2 {
  font-size: 24px  !important;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  color: white;
  background-color: #070707;
  position: relative;
  overflow: hidden;
}

#root {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  position: absolute;
  min-height: 61.5%;
  max-height: 61.5%;
}

.form2 {
    background-color: #070707;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px 10px rgba(10,10,10);
    z-index: 5;
}
.form2 input {
    outline: none;
    background: none;
}
.container .balance {
  padding: 0 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container .balance-details {
  padding: 0 20px;
  display: flex;

}

.container .balance-details div {
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
}
.container .balance-details .circle {
  position: relative;
  height: 40px;
  width: 40px ;
  border-radius: 50% ;
  display: flex;
  color: #070707;
  justify-content: center;
  align-items: center;
}


.container .balance-details .circle svg {
  height: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
.container .balance-details .details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-around;
}
.container .balance-details .details p {
  font-size: 10px;
  color: gray;
  font-weight: 500;
  width: 100%;
  position: relative;
  top: 5px;
}

.container .balance-details .details h3{
  position: relative;
  text-align: left;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 500;
  bottom: 3px;
}
canvas {
  transition: 1s;
}
.container .balance-details .income .circle {
  background: greenyellow;
}
.container .balance-details .outcome .circle {
  background: rgba(225, 16, 65,1);
}
.container .balance p {
  color: grey;
  margin-bottom: 10px;
}
.container .balance h1 {
  color: white;
  margin-left: 10px;
  font-weight: 700;
  display: inline-block;
}
.container .chart {
  margin-top: 50px ;
  postition: relative;
}
.panel {
  position: fixed;
  bottom: 0;
  min-height: 38.5%;
  max-height: 38.5%;
  background-color: #f4f4f4;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  color: #070707;
  overflow: hidden;
}


.chart .btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    color: grey;
    justify-content: space-between;
    align-items: space-around;
}
nav {
  position: inherit;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  padding: 7px;
  justify-content: space-between;
}

.link svg {
  height: 20px;
  width: 20px;
  transition: 0.4s;
}
nav .link {
  padding: 0;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #7a7a7a;
  font-weight: 600;
  transition: 0.4s;
}

nav .link.active {
  color: #070707;
  font-weight: 700 !important;
}
.link.center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -10px;
  min-width: 45px ;
  min-height: 45px;
}
.link.center .circle {
  background-color: #070707;
  min-width: 45px ;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4 ;
  border-radius: 50%;
  overflow: hidden;
}

.form {
  position: relative;
  height: 50%;
  width: 100%;
  padding: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.form form label {
    font-size: 19px;
    font-weight: 600;
}
.form form input {
    display: block;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px gray solid;
    transition: 1s;
    margin: 20px;
}

.form form input:focus {
    border-bottom: 1px white solid;
}
.form form button {
    outline: none;
    background: white;
    color: black;
    padding:5px;
    border: 3px black solid;
    transition:0.5s;
    font-weight: 500;
    margin-top: 50px;
}
.form form button:hover {
    background: black;
    color: white;
}
.add {
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
}
.calc {
    background-color: white;
    border-radius: 30px;
    height:50%;
    width:100%;
    display: grid;
    color: #070707;
    padding: 20px;
}
.grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height:180px;
    margin: 0 auto;
    transition: 1s;
}
.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    height: 36px;
    width: 36px;
}
.grid div.active {
    background-color: black;
    color: white;
}
.switcher {
    /* text-align: center; */
    display:flex;
    justify-content: space-between;
}

.expense-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.dash-panel h1 {
    color: black;
}

.expense-container .description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.description .negative{
    color: rgba(225, 16, 65,1);
    font-weight: 500;
}

.calc-container {
    position: absolute;
    width: 100%;
    bottom: 40px;
    padding: 0;
    height: 550px
}

.res {
    width: 100%;
    height: 80px;
    text-align: right;
    padding-right: 50px;
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.res .expression {
    color: orange;
    font-weight: 370;
    font-size: .8rem;
    transition: 1s
}
.res .ev {
    transition: 1s;
}
.operators {
    margin-top: 35px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.op {
    height: 70px;
    width: 70px;
    opacity: 0.9;
    font-size: 20px;
    opacity:.9;
}
.numbers{
    width: 75%;
    height:400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.numbers .num {
    /* height: 70px; */
    /* width: 70px; */
    font-weight: 700;
    font-size: 1.5rem;
}
.main {
    display: flex;
}
.main .side {
    width: 25%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.main button {
    transition: 0.74s;
    height: 100%;
    width: 100%;
}

.main button:active {
    background-color: #121212;
}
.paranthesis {
    width: 100%;
    height: 100%;
}

.paranthesis button {
    height: 50%;
}
